{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tokens</h1>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            {% for obj in objects %}
            <tr>
                <td><a href="https://etherscan.io/address/{{ obj.address }}" target="_blank">{{ obj.symbol }}</a></td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.decimals }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ '<i class="fas fa-check" style="color: green"></i>' if obj.is_active else '<i class="fas fa-times" style="color: red"></i>' }}</td>
                <td><img src="{{ obj.logo_uri }}" width="20" /></td>
                <td>{{ obj.chain_id }}</td>
            </tr>
            {% endfor %}
        </table>

        {% include "_pagination.html" %}

    </div>
</div>

<script>
$(document).ready(function() {
});
</script>

{% endblock %}
