#alert {
    display: none;
    position: fixed;
    width: 200px;
    z-index: 99999;
    top: 10px;
    right: 10px;
}

#loading-indicator {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 9999;
}


#preview div {
    display: inline-block;
}

.bg-secondary {
    background-color: #c6c6c6 !important;
}

.my-tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-underline-position: under;
}

.text-truncate {
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
}
